.border{
    border: 2px solid red;
}
.border_radius{
    border-radius: 10px;
}
.flex{
    display: flex;
}
.flexDirection{
    flex-direction: column;
}
.alignItems{
    align-items: center;
}
.justify{
    justify-content: center;
}
.spaceBW{
    justify-content: space-between;
}
.invert{
    filter: invert(1);
}

.gap{
  gap: 10px;
}
.margin{
  margin: 14px;
}



/* --------------------Scroll bar css---------------------- */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Set the color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #292929; /* Set the color of the thumb (the draggable part) */
    border-radius: 6px; /* Optional: Round the corners of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000; /* Set the color of the thumb on hover */
  }

  ::-webkit-scrollbar-corner {
    background-color: #000; /* Set the color of the scrollbar corner */
  }


